#labelcontainer {
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Arial, Helvetica, sans-serif;
}
#btncontainer {
  text-align: center;
}
.btn {
  padding: 10px 20px;
  background-color: #638fdb;
  font-size: 1em;
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.btn:hover {
  background-color: #003185;
}
