body {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}
.sidebar-container {
  top: 0;
  left: 0;
  padding: 10px;
  background: darkblue;
  max-width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 2s ease;
}
.sidebar-container.active {
  max-width: 5vw;
}
.logo-content {
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  margin: 2px;
  font-size: large;
  font-weight: 400;
  padding: 15px;
  border-radius: 5px;
}
.bx-menu:before {
  margin-left: 10px;
  content: "\eb5f";
}

.navbar {
  background-color: rgb(0, 0, 0);
  min-height: 80vh;
  border-radius: 10px;
}
.links a {
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  text-decoration: none;
  font-size: medium;
  font-weight: 700;
  transition: background 0.3s;
  padding: 8px;
  border-radius: 8px;
}
.links a:hover {
  background-color: rgb(55, 55, 55);
  border-radius: 8px;
}
.sidebar-container.active .links a i:hover {
  background: white;
  padding: 6px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
}
.sidebar-container.active .links a span,
.sidebar-container.active .logo_Name,
.sidebar-container.active .user_name {
  display: none;
}
.sidebar-container.active #codeIcon {
  display: none;
}
.sidebar-container.active .links a i {
  display: flex;
  position: absolute;
  right: 4px;
}

.nav_list,
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  position: relative;
  right: 0.2em;
  transition: all 0.2s ease;
}

.navbar i {
  font-size: 15px;
}
.sidebar-container.active .navbar i {
  font-size: 30px;
}
.profile_content {
  background-color: rgb(0, 0, 0);
  padding: 8px;
  margin: 4px;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.user_logo {
  background-color: aliceblue;
  height: 30px;
  width: 30px;
  border-radius: 4em;
}
