body {
  margin: 0;
  background-color: #8ea7a8;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 4em;
}
.container h1 {
}

#clock {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  background-color: #7e979f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
}
