* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  border-radius: 8px;
  width: 500px;
  height: auto;
  padding: 30px;
}
.input-container {
  background-color: grey;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
.input-container input {
  margin: 4px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
}
.Add-btn {
  background-color: greenyellow;
  width: 50px;
  font-weight: 700;
  cursor: pointer;
}
.Add-btn:hover {
  background-color: rgb(137, 221, 12);
}
.lists li {
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid black;
  padding: 4px;
  border-radius: 2px;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.lists button {
  width: 60px;
}
ul li p {
  flex-grow: 1;
}
.btn {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 800;
  outline: none;
}
.deletebtn {
  color: red;
  margin-right: 4px;
}
