body {
  font-family: monospace;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  background-color: #d9d9d9;
}
h1 {
  font-size: 2.5rem;
  background-color: rgb(224, 224, 224);
  padding: 20px;
}
.choices {
  margin-bottom: 20px;
}
.choices button {
  font-size: 5rem;
  min-width: 120px;
  border-width: 4px;
  background-color: rgb(97, 92, 242);
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 2s ease;
}
.choices button:hover {
  background-color: aqua;
}
.display {
  background-color: rgb(241, 241, 241);
  padding: 40px;
  border-radius: 5px;
}
#playerDisplay,
#computerDisplay,
#resultDisplay {
  font-size: 2rem;
  font-family: Courier, monospace;
}
.scoreDisplay {
  font-size: 2rem;
}
.greenText,
#playerscoreDisplay {
  color: rgb(0, 201, 0);
}
.redText,
#computerscoreDisplay {
  color: rgb(208, 36, 36);
}
