body {
  background-color: gray;
  display: flex;
  justify-content: center;
  max-height: 100vh;
  align-items: center;
  margin-top: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.frame {
  width: 501px;
  overflow-x: hidden;
}
.slider {
  display: flex;
  transition: all 0.5s ease;
}
#btn {
  cursor: pointer;
}
.images {
  border-radius: 10px;
  cursor: pointer;
}
.bottom {
  display: flex;
  gap: 20px;
  margin: 20px;
}
.buttons {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}
